<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}">
    <link rel="icon" href="{{ '/favicon.ico' | url }}">
    <title>{{ title }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link
      href="{{ "/assets/styles/main.css" | url }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="bg-blue-800 p-3 mb-3">
      <div class="container mx-auto sm:px-3 font-bold text-3xl text-white">
        <a href="{{ '/' | url }}" class="hover:underline">{{ site.title }}</a>
      </div>
    </nav>

    <div class="container mx-auto mb-4 p-3">
      {{ content | safe }}
    </div>

    {# Only include Netlify JS if netlify_cms: true and it's the site index #}
    {% if site.netlify_cms and page.url === '/' %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>window.netlifyIdentity&&window.netlifyIdentity.on('init',n=>{n||window.netlifyIdentity.on('login',()=>{document.location.href='/admin/'})});</script>
    {% endif %}
  </body>
</html>
