---
layout: layouts/base.njk
---

<div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-6">
  <article class="p-5 order-last lg:order-first lg:col-span-2 border border-solid border-gray-200 rounded">
    <header class="mb-4 pb-4 rounded-t border-b border-solid border-gray-400">
      <div class="pr-12 pb-2">
        <h1 class="mt-0 mb-2 -ml-5 p-2 pl-5 font-bold text-3xl bg-gray-200 opacity-75 rounded-r-sm">{{ title }}</h1>
      </div>
      <p>{{ quote }}</p>
      {% for tag in tags %}
        <span class="bg-gray-200 opacity-75 -ml-5 py-1 pr-3 pl-5 text-sm font-semibold rounded-r-sm">
          {{ tag }}
        </span>
      {% endfor %}
      {% if source %}
        <p>Source: {{ source }}</p>
      {% endif %}
    </header>
    <main>
      <section class="pb-3 flex flex-col lg:flex-row-reverse">
        <div class="flex-auto lg:ml-4">
          <table class="table-auto border-collapse w-full">
            <thead>
              <tr>
                <th class="px-4 py-2 bg-gray-200 rounded-l-sm border-r border-b">Servings</th>
                <th class="px-4 py-2 bg-gray-200 border-b">Prep Time</th>
                <th class="px-4 py-2 bg-gray-200 rounded-r-sm border-l border-b">Cooking Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="px-4 py-2 text-center border-r border-t">{{ yield | default('n/a') }}</td>
                <td class="px-4 py-2 text-center border-t">{{ prep | default('n/a') }}</td>
                <td class="px-4 py-2 text-center border-l border-t">{{ cook | default('n/a') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="flex-auto">
          <h2 class="font-bold text-2xl mt-0">Ingredients:</h2>
          {% for list in ingredients | trim | makeList %}
          <ul class="mt-4 list-none">
            {% for ingredient in list %}
              <li>{{ ingredient }}</li>
            {% endfor %}
          </ul>
          {% endfor %}
          </ul>
        </div>
      </section>
      <section class="mt-2">
        <h2 class="font-bold text-2xl mt-0">Instructions:</h2>

        {{ content | safe }}
      </section>
    </main>
  </article>

  {% if image %}
  <figure class="mb-6 lg:col-span-1">
    <img src="{{ image | url }}" alt="{{ title }}" class="border border-solid border-gray-200 rounded w-screen h-64 lg:h-auto object-cover object-center rounded-t">
  </figure>
  {% endif %}
</div>
