---
permalink: index.html
title: Overview
---

{% for tag in ['breakfast', 'salad', 'soup', 'starter', 'main dish', 'bread', 'dessert', 'cookies'] %}
<section>
  <h2>{{ tag | capitalize }}</h2>
  <ul>
    {% for recipe in collections[tag] | sort(attribute='url') %}
      <li><a class="hover:underline" href="{{ recipe.url | url }}">{{ recipe.data.title }}</a> ({{ recipe.data.language }})</li>
    {% endfor %}
  </ul>
</section>
{% endfor %}